* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  font-size: 16px;
  background: whitesmoke;
  font-family: sans-serif;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(125deg, tomato, lightblue);

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.4rem;
  background: white;
  padding: 0.25rem 1.25rem;
  border-radius: 6px;
}
